.card {
  width: 100%;
  max-width: none;
  background: #f5f8ff;
  border-radius: 20px;
  padding: 45px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.02);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.card-image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.card-image img {
  object-fit: contain;
  filter: drop-shadow(0 8px 10px rgba(0, 0, 0, 0.1));
  border-radius: 12px;
}

.badge {
  position: absolute;
  top: 10px;
  left: 4rem;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 10;
}

.card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-info h3 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 700;
  color: #1a1a1a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Masqué selon ton souhait initial, mais prêt si besoin */
.short-desc {
  display: none;
}

/* Footer avec Prix et Bouton */
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.price {
  font-size: 1.2rem;
  font-weight: 800;
  color: #3573e5; /* Rouge pour le prix */
}

.view-btn {
  background: #356de5;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background 0.2s;
}

.view-btn:hover {
  background: #1cb73e;
}
