:root {
  --primary: #27ae60;
  --dark: #327fbe;
  --light: #f4f4f4;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* L'application occupe tout l'écran */
html,
body,
#root,
.site-wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-area {
  flex: 1; /* Pousse le footer vers le bas */
}

/* NAVBAR */
.navbar {
  background: var(--white);
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.navbar-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 45px;
}

.brand-name {
  font-weight: 800;
  font-size: 1.1rem;
  color: var(--dark);
}
.brand-name span {
  color: var(--primary);
}
.brand-slogan {
  font-size: 0.7rem;
  display: block;
  color: #666;
}

/* NAV LINKS (Desktop) */
.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 600;
  font-size: 0.9rem;
  transition: 0.3s;
}

.nav-links a:hover {
  color: var(--primary);
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-bar {
  display: flex;
  background: rgb(1, 114, 20);
  padding: 5px 15px;
  border-radius: 8px;
  margin: 10px;
}

.search-bar input {
  border: none;
  background: none;
  outline: none;
  width: 100px;
}

/* BURGER MENU */
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--primary);
  margin: 5px;
  transition: all 0.3s ease;
}

/* HERO SECTION FULL WIDTH */
.hero {
  background: linear-gradient(rgba(75, 235, 155, 0.6), rgba(64, 97, 245, 0.555)),
    url("https://images.unsplash.com/photo-1511688858344-963373976f62?auto=format&fit=crop&w=1400")
      center/cover;
  color: rgb(0, 0, 0);
  padding: 80px 5%;
  text-align: center;
  width: 100%;
}

/* RESPONSIVE TABLETTE & MOBILE */
@media screen and (max-width: 1024px) {
  .nav-links {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 80px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%; /* Largeur du menu mobile */
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.1);
    padding-top: 50px;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .burger {
    display: block;
  }
}

/* Animation Burger */
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 600px) {
  .search-bar {
    display: none;
  } /* On cache la recherche sur mini mobile */
  .brand-slogan {
    display: none;
  }
}
